@charset "utf-8";



body{
    font-family: Impact, fantasy;
    text-align: center;
    height: 100%;
    margin: 0;

}


#bloc_page
{
    margin: auto;
    background: #FFFFFF;
}

h2{
    text-align: center;
}

/* Navigation */
 
nav
{
    display: inline-block;
    text-align: center;
    float: center;
    clear: both;
    background-color: #A91101;
    width: 100%;
    color: #FEFEE2;
    box-shadow: 8px 8px 12px #aaa;
}
 
nav ul
{
    list-style-type: none;
}
 
nav li
{
    display: inline-block;
    margin-right: 0.6em;
}
 
nav a
{
    font-size: 1.1em;
    padding-bottom: 3px;
    text-decoration: none;
    color: #FEFEE2;
}
 
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*Header*/
header
{
    background: #DCDCDC;
}

#titre_principel
{
    display: inline-block;

}

#logo
{
    display: inline-block;
    /*margin-bottom: 0px;*/
    height: 150px;
    float: center;
    margin: auto;
}

/* Footer */
 
footer
{
    display: inline-block;
    text-align: center;
    float: center;
    clear: both;
    background-color: #A91101;
    font-size: 0.8em;
    width: 100%;
    color: #FEFEE2;
}
 
footer ul
{
    list-style-type: none;
}
 
footer li
{
    display: inline-block;
    margin-right: 15px;
}
 
footer a
{
    font-size: 0.8em;
    padding-bottom: 3px;
    text-decoration: none;
    color: #FEFEE2
}
 
footer a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#facebook_twitter{
    float: center;
}

section{
    padding: 10px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10%;
    box-shadow: 8px 8px 12px #aaa;
    background-color: #DCDCDC;
}


/*#news{
    margin-top: 50px;
    width:10%; 
    float:left; 
    margin-left:15%;
    box-shadow: 8px 8px 12px #aaa;
    background: #DCDCDC;
    margin-bottom: 50px;

}*/

#about{
    margin-top: 50px;
    width:70%; 
    float: right; 
    margin-right: 15%;
    padding: 20px;
    box-shadow: 8px 8px 12px #aaa;
    background: #DCDCDC;
    margin-bottom: 50px;

}

/* Début du slider */
#slider-container{
    width: 100%;
    background: #DCDCDC;
}
#slider{
    width:960px;
    position:relative;
    /*top:100px;*/
    margin: auto;
    clear: both;
}

#slider a{
    color: #FEFEE2;
}
 
#slider-window{
    position:relative;
    width:900px;
    height:500px;
    overflow:hidden;
    margin:0 auto;
    color: #FEFEE2;
}

#slider-window img{
    width: 900px;
    margin-left: -40px;
    position:absolute;
    left:0;
    top:0;
    float: left;
}
 
#prevSlide,#nextSlide{
    width:30px;height:50px;
    position:absolute;
    top:50%;
    cursor:pointer;
}
#prevSlide{left:0;}
#nextSlide{right:0;}

.slide{
    float:left;
    position:relative;
    list-style-type:none;
    width:900px;
    height: 500px;
}
 
.slide-content{
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0,0.5);
    height:500px;
    width:180px;
    padding:0px;
    margin-left: -40px;
}
/*Fin du slider*/